.article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  margin: 3rem;
  flex: 1 1 auto;
}

.item {
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  border: 1px solid rgb(223, 222, 222);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 5px 10px rgb(223, 222, 222);
}

.item h2 {
  padding: 1rem;
  border-bottom: 1px solid rgb(223, 222, 222);
}

.red {
  color: red;
}

.clover {
  font-size: 8rem;
  font-weight: 100;
}
