.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 10vh;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.logo a {
  text-decoration: none;
  color: black;
}

.navigation ul {
  display: flex;
}

.navigation li {
  padding: 2rem;
  font-weight: 200;
}

.navigation a {
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  border-bottom: solid;
  border-color: black;
  color: var(--color-secondary-400);
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
