.button {
  padding: 1rem 1rem;
  cursor: pointer;
  /* min-width: 5rem; */
  border-width: 1px;
  min-width: 5rem;

  font-size: 1rem;
  filter: drop-shadow(1px 10px 5px var(--color-primary-100));
}

/* Primary */
.primary:hover,
.primary:active {
  background-color: var(--color-primary-400);
}

.primary {
  background-color: var(--color-primary-700);
}
.primary a {
  color: white;
}

/* Secondary */
.secondary {
  color: white;
  background-color: var(--color-secondary-400);
}
.secondary a {
  color: white;
}

/* Dark */
.dark {
  background-color: black;
  color: white;
}
.dark button {
  color: white;
}
