.primary {
	color: white;
  background-color: var(--color-primary-400);z
}

.secondary {
	color: white;
  background-color: var(--color-secondary-400);
}

.dark {
	color: white;
	background-color: black;
}