* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;

  --color-primary-100: rgba(219, 240, 124, 0.5);
  --color-primary-200: #a9b476;
  --color-primary-300: #a2b356;
  --color-primary-400: #a0b73b;
  --color-primary-500: #a0b73b;
  --color-primary-600: #98b516;
  --color-primary-700: #7f9b00;
  --color-primary-800: #089b00;

  --color-secondary-100: #686a75;
  --color-secondary-200: #55596e;
  --color-secondary-300: #444b78;
  --color-secondary-400: rgba(48, 57, 113, 0.8);
  --color-secondary-500: #273171;
  --color-secondary-600: #131f6f;
  --color-secondary-700: #000f70;

  --border-light: #dfdede;
  --light-background: #fff;

  --speed: 500ms;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
}

.center {
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
