.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 10vh;
  min-height: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.logo a {
  text-decoration: none;
  color: black;
}
